astroid==4.0.4
asttokens==3.0.1
baseconvert==2.0.4
blinker==1.9.0
click==8.4.1
colorama==0.4.6
decorator==5.2.1
dill==0.4.1
executing==2.2.1
Flask==3.0.3
gmpy2==2.3.0
iniconfig==2.3.0
ipdb==0.13.13
ipython==9.13.0
ipython_pygments_lexers==1.1.1
isort==8.0.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
mccabe==0.7.0
mdurl==0.1.2
numpy==2.4.4
packaging==26.2
pandas==3.0.2
parso==0.8.6
platformdirs==4.9.6
pluggy==1.6.0
prompt_toolkit==3.0.52
psutil==7.2.2
pure_eval==0.2.3
Pygments==2.20.0
pylint==4.0.5
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
pytest==8.3.2
python-dateutil==2.9.0.post0
rich==15.0.0
setuptools==82.0.1
shiboken6==6.11.0
six==1.17.0
stack-data==0.6.3
tomlkit==0.14.0
traitlets==5.14.3
tzdata==2026.2
wcwidth==0.6.0
Werkzeug==3.1.8
