asttokens
colorama
decorator
docopt
executing
ipdb
ipython
ipython_pygments_lexers
jedi
line_profiler
markdown-it-py
matplotlib-inline
mdurl
numpy
num2words
pandas
parso
pip
pexpect
prompt_toolkit
ptyprocess
pure_eval
pycycle
Pygments
PySide6
PySide6_Addons
PySide6_Essentials
python-dateutil
rich
shiboken6
stack-data
traitlets
tzdata
wcwidth
